<div class="product_view_wrap">
  <h2>product</h2>
  <section class="product_view">
    <article class="product_view_img">
      <img src="<%= row.img %>" alt="">
    </article>
    <article class="product_view_txt">
      <div class="product_view_title">제품명<%= row.title %></div>
      <div class="product_view_tag">태그<%= row.tag %></div>
      <div class="product_view_price">가격<%= row.price %>원</div>
      <div class="pro_up_dele_btn_box">
        <div><input type="button" value="수정" onclick="javascript:location.href='/updatePro?id=<%= row.id %>'"></div>
       <div><input type="button" value="삭제" onclick="javascript:location.href='/deletePro?id=<%= row.id %>'"></div>
      </div>
    </article>

    
  </section>
</div>
<div class="b140"></div>